extends ../_parts/_layout

//------------------
//- variable
//------------------
block var_block
  - var title             = 'ホームページ作成 | シンプルなWordPressテーマで | tsumugi';//-meta title
  - var description       = 'シンプルで読みやすいブログテーマ「tsumugi」で、いますぐホームページを作成しよう。専門知識やサーバー不要で、初心者でも簡単にWordPressでホームページが作成できます。';//-meta description
  - var og_description    = description;//-og description
  - var og_url            = 'http://littlebirdjp.github.io/tsumugi/ja/';//-og url
  - var og_image          = 'http://littlebirdjp.github.io/tsumugi/ja/img/ogimage.jpg';//-og image
  - var tw_url            = og_url;
  - var tw_description    = description;
  - var rootPath          = '../'//-root path
  - var lang              = 'ja'

//------------------
//- header meta
//------------------
block headMETA

//------------------
//- header Css
//------------------
block headCSS
  link(rel="stylesheet", href=rootPath+"css/style.css")

//- -----------------
//- Contents
//- -----------------
block header_block
  include ../_parts/_header_ja

block contents_block

  section.section.main.main__ja
    .container
      .row
        .col-8.text-center
          p.main__text
            | あまねく想いを紡ぐために…
          p.main__text2
            | シンプルで読みやすいブログテーマ「tsumugi」で、
            br.d-none.d-md-block
            | いますぐホームページを作成しよう
          div
            a.btn.btn-primary.main__button(href="https://dock.readyship.co/website/create/a53c4365-dda8-4ba9-b2c6-808c2d0d7bc1") ホームページ作成
          div
            a.btn.btn-outline-primary.main__button2.mr-3(href="https://ja.wordpress.org/themes/tsumugi/", target="_blank") 無料ダウンロード
            a.btn.btn-outline-primary.main__button2(href="http://tsumugi.halfmoon.jp/ja/", target="_blank") デモサイト
        .col-4

  section.section.mt-3.mb-3.mb-lg-0
    .container
      .row
        .col-lg-8
          p
            img.section__image(src=rootPath+"ja/img/screen1.png", alt="誰にでも簡単に")
        .col-lg-4
          h2.section__title.mt-xl-5 誰にでも簡単に
          p.section__text
            | 専門的な知識がなくても、あっという間にホームページが作成できます。
            br
            | 必要なレイアウトやパーツが揃っているので、あとは文章を追加するだけ。
            br
            | 高速な専用サーバーにWordPressがインストール済みなので安心です。
          a.section__link(href="https://dock.readyship.co/website/create/a53c4365-dda8-4ba9-b2c6-808c2d0d7bc1")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | 今すぐはじめる

  section.section.sub.sub__ja

  section.section.sub2
    .container
      .row
        .col-12.col-lg-8
          h2.section__title デザインはおまかせで
          p.section__text
            | シンプルで美しいデザインテーマが適用済み。
            br
            | スマートフォンやタブレットでも読みやすいホームページが作成できます。
            br
            | テーマの使い方はHTML5認定資格を持った作者が丁寧にサポート。
          a.section__link(href="http://tsumugi.halfmoon.jp/ja/", target="_blank")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | デモサイトを見る
        .col-0.col-lg-4
          
  section.section.mt-3.mt-lg-5
    .container
      .row
        .col-lg-8
          p
            img.section__image(src=rootPath+"ja/img/screen2.png", alt="カスタマイズも思いのまま")
        .col-lg-4
          h2.section__title.mt-lg-5 カスタマイズも思いのまま
          p.section__text
            | サイトのロゴやヘッダー画像、メニューやウィジェットは自由に編集可能。
            br
            | 直感的な操作とドラッグ＆ドロップで簡単にアップロード。
            br
            | 5万種類以上の便利な公式プラグインも使用できます。
          a.section__link(href="https://dock.readyship.co/website/create/a53c4365-dda8-4ba9-b2c6-808c2d0d7bc1")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | 今すぐはじめる

  section.section#features
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 特長
      .row
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-tablet.fa-stack-1x.fa-inverse(aria-hidden="true")
            | レスポンシブレイアウト
          p.section__text
            | Bootstrap 4のレスポンシブレイアウトに対応しているため、PCでもモバイルデバイスでも、コンテンツが最適化されて表示されます。
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-bars.fa-stack-1x.fa-inverse(aria-hidden="true")
            | カスタムメニュー
          p.section__text
            | ヘッダーにメニューを追加することができます。メニューの項目は好きなページやURLを設定可能。階層化したプルダウンメニューにも対応しています。
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-copyright.fa-stack-1x.fa-inverse(aria-hidden="true")
            | カスタムロゴ
          p.section__text
            | 好きな画像を選んでサイトのロゴを設置することができます。 個性的なロゴマークであなただけのブランドイメージを演出しましょう。
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-picture-o.fa-stack-1x.fa-inverse(aria-hidden="true")
            | カスタムヘッダー
          p.section__text
            | 好きな画像やYoutube動画などを選んでヘッダーを設置することができます。サイトのアクセントとして、最新の活動報告などを掲載してみてはいかがでしょう？
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-puzzle-piece.fa-stack-1x.fa-inverse(aria-hidden="true")
            | ウィジェット
          p.section__text
            | フッターに各種リンクやパーツを追加できます。検索ボックスやカレンダー、ギャラリーなど個性豊かなウィジェットでホームページを彩りましょう。
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-paint-brush.fa-stack-1x.fa-inverse(aria-hidden="true")
            | テーマカスタマイザー
          p.section__text
            | サイト上の項目やスタイルは「テーマカスタマイザー」を使って編集できます。編集結果をリアルタイムに確認できるので操作はとっても簡単です。
        .col-12.text-center
          div
            a.btn.btn-primary.main__button(href="https://dock.readyship.co/website/create/a53c4365-dda8-4ba9-b2c6-808c2d0d7bc1") ホームページ作成
          div
            a.btn.btn-outline-primary.main__button2.mr-3(href="https://ja.wordpress.org/themes/tsumugi/", target="_blank") 無料ダウンロード
            a.btn.btn-outline-primary.main__button2(href="http://tsumugi.halfmoon.jp/ja/", target="_blank") デモサイト

  section.section.mt-5#special-thanks
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 テーマ名の由来
          p.section__text
            | 「tsumugi」というテーマ名は、シンガーソングライター・
            a(href="http://hatsune-official.com/", target="_blank") 初音
            | さんの「紡ぎ〜あまねく想い〜」という曲のタイトルから名付けさせていただきました。
            br
            | 歌のコンセプトと同じように、「tsumugi」も言葉を『紡ぐ』ことの大切さを込めて制作しています。
          p.text-center
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/pAHZ9ATXV_Q", width="560", height="315", frameborder="0", allowfullscreen)

  section.section.mt-5#goods
    .container
      .row
        .col
            h2.section__title.text-center.mb-4 オリジナルグッズ
            p
              | 「tsumugi」の
              a(href="https://suzuri.jp/littlebird", target="_blank") オリジナルグッズ
              | を販売しています。グッズの収益はテーマの開発費に充てさせていただきますので、気に入った方はぜひお買い求めいただけると嬉しいです。
      .row
        .col-md-6.col-lg-4.text-center.hidden-xs-down.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1843752" data-suzuri-item-variant-id="848"><a href="https://suzuri.jp/littlebird/927846/can-badge/32mm/white"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/can-badge/32mm/white/927846/1510581794-1200x1200.png.1.6725+0.0+0.0.jpg?h=276cab3eb82724ac818ac092a9cb68848855785d" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276760" data-suzuri-item-variant-id="606"><a href="https://suzuri.jp/littlebird/681175/sticker/m/white"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/sticker/m/white/681175/1488631187-960x960.png.0.86+0.0+0.0.jpg?h=987e5b111f84094efe156a45e476ab7365eea0b7" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.hidden-xs-down.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276761" data-suzuri-item-variant-id="82"><a href="https://suzuri.jp/littlebird/681175/mug/m/white"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/mug/m/white/681175/1488631187-960x960.png.0.69174+0.0+0.0.jpg?h=977eb2f236cfd80814452aeaa052ef2c80cbf085" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276762" data-suzuri-item-variant-id="608"><a href="https://suzuri.jp/littlebird/681175/smartphone-case/iphone7/white"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/smartphone-case/iphone7/white/681175/1488631187-960x960.png.0.20649+0.0+0.0.jpg?h=2a7ae325e75c5d1640eb646cb92cb11b6736d75e" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.hidden-xs-down.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1843839" data-suzuri-item-variant-id="842"><a href="https://suzuri.jp/littlebird/681175/sacoche/m/natural"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/sacoche/m/natural/681175/1488631187-960x960.png.0.52432+0.37218+0.2869.jpg?h=4dcb0cb3a67cb3ddc6d882e662304f386db40afe" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276806" data-suzuri-item-variant-id="618"><a href="https://suzuri.jp/littlebird/681189/tote-bag/m/turquoise"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/tote-bag/m/turquoise/681189/1489205219-660x662.png.0.68941-0.3841+0.38481.jpg?h=43cfa46239f8c682ba86a462d3fe9a10be57c9ed" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276791" data-suzuri-item-variant-id="10"><a href="https://suzuri.jp/littlebird/681189/t-shirt/s/royalblue"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/t-shirt/s/royalblue/681189/1489205219-660x662.png.1.0+0.36944+0.0.jpg?h=8f8f05cbbc9141cb0a57ced7c70a852b6986197d" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1276801" data-suzuri-item-variant-id="477"><a href="https://suzuri.jp/littlebird/681189/hoodie/s/turquoiseblue"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/hoodie/s/turquoiseblue/681189/1489205219-660x662.png.1.0+0.36945+0.0.jpg?h=5d555763347e1bf8910f37d50e9850d271866f06" width="323" height="323"></a></div>

        .col-md-6.col-lg-4.text-center.
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//suzuri.jp/thirdparty/widgets.js";js.charset="utf-8";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","suzuri-widget-script");</script>
          <div class="suzuri-widget-product" data-suzuri-product-id="1306427" data-suzuri-item-variant-id="635"><a href="https://suzuri.jp/littlebird/681189/long-sleeve-t-shirt/s/turquoiseblue"><img src="https://d1q9av5b648rmv.cloudfront.net/v3/323x323/long-sleeve-t-shirt/s/turquoiseblue/681189/1489205219-660x662.png.1.0+0.36897+0.0.jpg?h=8f6371b84f56d911351262cbaee51dbdedd49e78" width="323" height="323"></a></div>


  //- .github-corner-wrap.
  //-   <a href="https://github.com/littlebirdjp/tsumugi" target="_blank" class="github-corner" aria-label="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:991px){.github-corner{display:none}}</style>

block footer_block
  include ../_parts/_footer_ja

//------------------s
//- footer js
//------------------
block footerJS
