//------------------------------------------
//- defalt variables
//------------------------------------------
- var title             = 'tsumugi';//-meta title
- var description       = 'A simple WordPress theme for blogs.';//-meta description
- var keywords          = '';//-meta keywords
- var og_url            = 'http://littlebirdjp.github.io/tsumugi/';//-og url
- var og_type           = 'website';//-og type
- var site_name           = 'tsumugi';//-og site name
- var og_title          = title;//-og title
- var og_image          = 'http://littlebirdjp.github.io/tsumugi/img/ogimage.png';//-og image
- var og_description    = description;//-og description
- var fb_admin          = 'youthkee';
- var app_id            = '1511260485840721';
- var tw_type           = 'summary_large_image';//-twitter card type
- var tw_site           = '@youthkee';
- var tw_url            = og_url;
- var tw_title          = title;
- var tw_description    = description;
- var tw_image          = og_image;
- var tw_domain         = 'littlebirdjp.github.io';
- var bodyClass         = '';//-body class
- var rootPath          = './'//-root path
- var lang              = 'en'

//- override default variables
block var_block

doctype html
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title=title
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        meta(property="og:url", content=og_url)
        meta(property="og:type", content=og_type)
        meta(property="og:site_name", content=site_name)
        meta(property="og:title", content=og_title)
        meta(property="og:image", content=og_image)
        meta(property="og:description", content=og_description)
        meta(property="fb:admins", content=fb_admin)
        meta(property="fb:app_id", content=app_id)
        meta(name="twitter:card", content=tw_type)
        meta(name="twitter:site", content=tw_site)
        meta(name="twitter:url", content=tw_url)
        meta(name="twitter:title", content=tw_title)
        meta(name="twitter:description", content=tw_description)
        meta(name="twitter:image", content=tw_image)
        meta(name="twitter:domain", content=tw_domain)

        link(rel="apple-touch-icon", sizes="180x180", href=rootPath+"apple-touch-icon.png")
        link(rel="icon", type="image/png", href=rootPath+"favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href=rootPath+"favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href=rootPath+"manifest.json")
        link(rel="mask-icon", href=rootPath+"safari-pinned-tab.svg", color="#40a9cb")
        meta(name="theme-color", content="#ffffff")

        block headMETA

        link(rel="stylesheet", href=rootPath+"css/bootstrap.min.css")
        block headCSS

        script(src=rootPath+"js/jquery.min.js")
        script(src=rootPath+"js/tether.min.js")
        script(src=rootPath+"js/bootstrap.min.js")
        block headJS

    body(class=bodyClass)

        #fb-root
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-50835-7', 'auto');
            ga('send', 'pageview');

        .wrapper

            block header_block

            .content#content
                block contents_block

            block footer_block
